name: Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v2



      - name: Install dependencies
        run: sudo apt install docker-compose -y

      - name: Deploy to VM
        run: |
          sudo docker-compose down -v && sudo docker-compose up -d --build
